<!DOCTYPE html>
<html>
<body style="background-color:pink">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
<s<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="../static/ensayo.css">
 <script src="../static/ensayo.js"></script>
<p>This is some text.</p>

<div id="grilla">
  
</div>



<h1 > Hola </h1>
<h1 > Hol </h1>

<script>	
	dibujarGrilla();
</script>


<p>This is some text.</p>

</body>
</html>
